<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="bg-yellow-400">
    <div class="bg-blue-300">
        <a href="/">logo</a>
    </div>
    <div class="bg-red-600 flex">
        <div class="bg-indigo-300 w-[20%]">
            <ul class="h-[100%] overflow-scroll">
                <li th:each="notebook : ${notebookList}" th:class="${notebook.id == targetNotebook.id} ? 'bg-blue-600' : ''">
                    <a th:href="@{|/books/${notebook.id}|}" th:text="${notebook.name}"></a>
                </li>
            </ul>

            <form th:action="@{|/books/write|}" method="post">
                <input type="submit" value="추가">
            </form>
        </div>
        <div class="bg-red-300 w-[20%] h-[800px] text-center ">
            <ul class="h-[100%] overflow-scroll">
                <li th:each="note : ${noteList}" th:class="${note.id == targetNote.id} ? 'bg-blue-600' : ''">
                    <a th:href="@{|/books/${targetNotebook.id}/notes/${note.id}|}" th:text="${note.title}"></a>
                </li>
            </ul>

            <form th:action="@{|/books/${targetNotebook.id}/notes/write|}" method="post">
                <input type="submit" value="추가">
            </form>
        </div>

        <div class="bg-green-300 w-[60%]">
            <form th:action="@{|/books/${targetNotebook.id}/notes/${targetNote.id}/update|}" method="post" id="updateForm">
                <div>
                    <input type="hidden" name="id" th:value="${targetNote.id}">
                </div>
                <div>
                    <input type="text" name="title" th:value="${targetNote.title}">
                </div>
                <div>
                    <textarea name="content" cols="30" rows="10" th:text="${targetNote.content}"></textarea>
                </div>
                <div>
                    <input type="button" value="수정" onclick="updateForm()">
                </div>
            </form>
            <form th:action="@{|/books/${targetNotebook.id}/notes/${targetNote.id}/delete|}" method="post" id="deleteForm">
                <input type="button" value="삭제" onclick="deleteForm();">
            </form>
        </div>
    </div>
</div>
</body>
<script>
    function updateForm() {
        const form = document.getElementById("updateForm");
        if(confirm("수정하시겠습니까?")) {
            form.submit();
        }
    }

    function deleteForm() {
        const form = document.getElementById("deleteForm");
        if(confirm("삭제하시겠습니까?")) {
            form.submit();
        }
    }
</script>
</html>